*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Times New Roman';    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #334;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 80px;
    text-decoration: none;
    font-size: 20px;
}

h1{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}

li a:hover {
    background-color: rgb(124, 10, 10);
}

body{
    background-image: url(https://wallpapercave.com/wp/wp7743470.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;   
}
.contenido{
    margin: 50px;
    display: flex;
    flex-direction: row;
}

.articulos{
    display: flex;
    flex-direction: row;
}

.texto{
    margin: 40px;
    font-size: 20px;
}

img{
    width: 200px;
    margin: 15px;
}

.menu-2{
    font-size: 20px;
    padding: 10px;
}

button{
    background-color: darkred;
    width: 100px;
    height: 30px;
}

.pie-pag{
    display: flex;
    flex-direction: row;
    background-color: #333;
    height: 100px;
}

.pies{

    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 180px;
}

.pies-1{

    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 100px;
}

#icono1{
    width: 50px;
    height: 30px;
}
