.cabecera{
    background-color: #9db9d6;
    border: 2px solid #56799b;
    text-align: center;
    color: #224466; 
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

img{
    
    padding: 15px;
    margin: 15px;
    background-color: yellow;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

